body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.nav {
  width: 281px;
  height: 1024px;

  background-color: #20B887;
}

.nav-container {
  display: grid;
  row-gap: 30px;
  list-style-type: none;
  padding: 0;
  color: #FFFFFF;
  margin: 0;
  padding: 150px 0 0 0;
}

.nav-container a {
  display: block;
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.nav-container a {
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-container a.active {
  background-color: #F9FBFF;
  color: #20B887;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;
  margin-right: -30px;
  text-decoration: none;
}

.logo-container {
  display: grid;
  grid-auto-flow: column;
  padding: 30px;
  align-items: center;
  column-gap: 10px;
}

.level-title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #6FF3C8;
}

.btn-round {
  cursor: pointer;
  width: 54px;
  height: 54px;

  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.btn-round.add {
  background-image: url("./img/plus.png");
}

.btn-round:focus {
  outline: none;
}

.app-wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 300px;
}

.add-word-container input {
}

.add-word-container > div {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 20px;
}

.add-word-container {
  margin-top: 50px;
}

.check {
  background-image: url("./img/check.png");
  background-color: #1aad7e;
}

.close {
  background-image: url("./img/close.png");
}


.library-container > div > div {
  padding: 15px;
  position: relative;
  text-align: center;
}

.library-container {
  background-color: rgba(242, 246, 254, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.library-container > div:not(.library-header) > div:not(:last-child):after {
  content: '';
  position: absolute;
  right: 0;
  top: 20px;
  width: 3px;
  background-color: rgba(242, 246, 254, 0.46);
  height: 100%;
}
.library-container > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #036344;
}

.library-header > div:after {
  content: '';
  position: absolute;
  height: 16px;
  width: 80%;
  background-color: rgba(242, 108, 94, 0.09);
  left: 0;
  bottom: 8px;
}
.library-header > div {
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 12px;
  color: #992E00;
}

.score {
  z-index: 4;
  position: absolute;
  right: 50px;
  color: darkgreen;
  top: 20px;
}

.add-word-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  column-gap: 20px;
  align-items: center;
}

.page-container {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-auto-flow: row;
  align-content: flex-start;
  row-gap: 60px;
}


.learn-container {
  position: relative;
  display: grid;
  row-gap: 60px;
  background-color: rgba(242, 246, 254, 0.46);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  padding: 60px;
}
.percentage {
  position: absolute;
  background-color: #f26c5e;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  top: -15px;
  left: -15px;
  padding: 4px 15px;
}

.word-translation {
  font-size: 72px;
  line-height: 84px;
  color: #00402b;
}

.word {
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  color: #1AAD7E;
  text-align: center;
}

.description-label {
  position: absolute;
  top: -23px;
  left: 0;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.52);
}

.learn-wrapper {
  display: grid;
  align-items: center;
  align-content: start;
  margin-top: 30%;
  justify-content: center;
  row-gap: 30px;
}

.btn-next {
  color: #FFFFFF;
  background-color: #0C9267;
  justify-self: end;
  padding: 4px 40px;
  cursor: pointer;
}

.word-container {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
}


.mode-container > div:first-child {
  display: grid;
  align-content: space-between;
  max-width: 280px;
}

.mode-container:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mode-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  background-color: rgba(215, 228, 255, 0.46);
  padding: 25px 55px 55px 55px;
}

.mode-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #036344;
}

.mode-description {
  font-size: 24px;
  line-height: 28px;
}

.mode-page {
  display: grid;
  align-items: start;
  margin: 130px auto;
}

.mode-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.easy-mode {
  background-color: rgba(215, 228, 255, 0.46);
}

.hard-mode {
  background-color: rgba(176, 222, 255, 0.46);
}

.easy-mode.mode-description{
  color: #1b81df;
}

.hard-mode.mode-description{
  color: #1b46df;
}

.game-page {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.btn-exit {
  position: absolute;
  width: 239px;
  height: 68px;
  left: 43px;
  top: 32px;
  background-color: #036344;
  border: none;
  color: #FFFFFF;
  font-size: 24px;
}

.correct-title {
  font-size: 24px;
  line-height: 28px;
  color: #006A31;
  margin-right: 15px;
}

.error-title {
  font-size: 24px;
  line-height: 28px;
  color: #680000;
}

.point-block {
  position: absolute;
  left: 300px;
  top: 40px;
}

.mode-page a {
  text-decoration: none;
}


.mode-title-word {
  font-size: 44px;
  line-height: 169px;
  align-items: center;
  text-align: center;
  color: #036344;
}

.mode-title-word-description {
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 140px;
}

.check-item-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.check-item {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #516961;
}

.mode-wrapper {
  display: grid;
  align-items: start;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  row-gap: 10px;
  text-align: center;
}


.customInput {
  position: relative;
  border: none;
  border-bottom: 1px solid #084934;
}

.customInput:focus {
  outline: none;
}

.btn-enter {
  background-color: #1f6d54;
  color: #FFFFFF;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 20px;
}

